---
layout: 'base.njk'
---

<main>
	<figure>
		<img src="{{ image }}" alt="{{ imageAlt }}" class="blog-image">
		<figcaption class="align-right">{{ imageAlt }}</figcaption>
	</figure>

	<article>
		<h1 class="blog-post-title">{{ title }}</h1>
		<p class="post-date">{{ date | postDate }}</p>
		<div class="blog-post-content">
			{{ content | safe }}
		</div>

		<!-- Tags at the bottom -->
		<div class="tag-container">
		{% for tag in tags %}
		  {% if tag != "post" %}
		    <a href="/tags/{{ tag }}/" class="tag">{{ tag }}</a>
		  {% endif %}
		{% endfor %}
		</div>
		<!-- Old version/placeholder
		<div class="tag-container">
			<a href="" class="tag">HTML5</a>
			<a href="" class="tag">CSS3</a>
			<a href="" class="tag">JavaScript</a>
			<a href="" class="tag">NodeJS</a>
		</div>
		-->
	</article>
</main>
