---
title: My blog title
layout: 'base.njk'
---

	<main>
		<div class="hero">
			<img src="images/placeHolder.png">
		</div>
		<article>
			<p class="post-date">1/22/26 - 2 min read</p>
			<h1 class="blog-post-title">My first blog post</h1>
			<p class="blog-post-p">Ut, that java flavour, macchiato cinnamon beans aroma dripper pumpkin spice that. Caffeine percolator crema filter ristretto and breve at mocha. A, coffee whipped cortado shop whipped shop extraction shop.
			<br /><br />
			Half and half lungo coffee, body coffee, kopi-luwak doppio beans wings pumpkin spice. Flavour java, barista beans id whipped pumpkin spice strong est sugar plunger pot dark. Instant, turkish irish foam, lungo caramelization cream grinder variety.
			<br /><br />
			Irish, americano crema frappuccino qui brewed to go id grounds viennese. Cream est, dripper instant id medium mocha blue mountain. Cultivar, flavour brewed aftertaste foam and, est barista cultivar wings mocha.</p>

			<div class="tag-container">
				<a href="" class="tag">HTML5</a>
				<a href="" class="tag">CSS3</a>
				<a href="" class="tag">JavaScript</a>
				<a href="" class="tag">NodeJS</a>
			</div>
		</article>

	</main>
