<article class="article-top-margin">
	<a href="{{ post.url }}" target="_blank">
		<figure>
			<img src="{{ post.data.image}}" alt="{{ post.data.imageAlt }}" class="blog-image">
			<figcaption>{{ post.data.date | postDate }} - 2 minute read</figcaption>
			<h1 class="blog-post-title">{{ post.data.title }}</h1>
		</figure>
	</a>
</article>

{# The snippet is now reusable #}