<article class="article-top-margin">
	<a href="{{ post.url }}">
		<figure>
			<img src="{{ post.data.image}}" alt="{{ post.data.imageAlt }}" class="blog-image top-margin-half">
			<figcaption>By {{ post.data.author }} | {{ post.data.date | postDate }}</figcaption>
			<h2 class="blog-post-title">{{ post.data.title }}</h2>
		</figure>
	</a>
</article>

{# The snippet is now reusable #}