<header>
	<div class="nav-container">
		<nav id="home">
		  <a href="https://madebydtor.com/" id="logo">
		    <span>Made By DTOR</span>
		  </a>
		  <div class="right-menu">
		  	<a href="/" class="blog-btn">Blog</a>
		  </div>
		</nav>
	</div>
</header>