---
title: My blog title
layout: 'base.njk'
---

	<main>
		<h1 class="blog-title">Blog</h1>
		<!-- make blog tags from a tags-->
		<a href="" class="tag">HTML5</a>
		<a href="" class="tag">CSS3</a>
		<a href="" class="tag">JavaScript</a>
		<a href="" class="tag">NodeJS</a>

		<div>
			<p class="year">2026</p>
			<hr />
		</div>
		<section>
			{%- for post in collections.post | reverse -%}
				{% include 'article-snippet.njk' %}
			{%- endfor -%}
		</section>
	</main>

	{# 
		<article class="article-top-margin">
				<a href="post.njk" target="_blank">
					<figure>
						<img src="images/placeHolder.png" class="blog-image">
						<figcaption>1/18/26 - 2 minute read</figcaption>
						<h1 class="blog-post-title">My first blog post</h1>
					</figure>
				</a>
	#}
