
/* Table of Contents:
   
   1. global styles

   2. typography
   
   3. layout
      3.1 links
   
   4. components
      4.1 buttons
      4.2 cards 


   7. Smaller screens

*/

/* || global styles */

@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --light-color: #e1f5fe;
  --primary-blue: #01579b;
  --primary-teal: #00BCD4;
  --secondary-purple: #AA00FF;
  --blog-font: #006064;
  --bg-light-blue: #E0F7FA;
  --magenta: #d500f9;
}

/*removes wonky spcace on bottom of page*/
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* || typography -links  */

.blog-title {
  color: var(--blog-font);
  font-family: Roboto;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 105px;
  text-align: left;
  padding: 45px 0 50px 0;
}
.tag {
	color: var(--blog-font);
	background-color: var(--bg-light-blue);
	width: 86.1px;
	height: 31px;
	text-decoration: none;
  margin-right: 5.38px;
  padding: 5px 10px;
}

.tag:hover {
  box-shadow: 0 0 0 2px var(--blog-font); /* Simulates border without shifting */
}
p {
  opacity: 0.87;
  letter-spacing: 0.5px;
}

.year {
  margin-top: 50px;
  color: var(--secondary-purple);
  font-size: 17px;
}

/*Articles/blog container*/

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 33px;
}

article {
  margin-top: 54px;
}


figure:hover {
  box-shadow: 0 0 0 2px var(--secondary-purple); /* Simulates border without shifting */
}

.blog-image {
  width: 100%;
  /*height: 169px;*/
  background-color: var(--magenta);
  /*margin-right: 33px;*/
  object-fit: cover;
}
hr {
  color: var(--secondary-purple);
}

.blog-post-title {
  color: var(--blog-font);
  font-family: Roboto;
  font-style: Bold;
  font-weight: 700;
  line-height: 53px;
  text-align: left;
  margin-top: 14px;
  margin-left: 14px;
}

.blog-btn {
  padding: 10px 0;
  margin-right: 15px;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}
a {
  text-decoration: none;
}
figcaption {
  color: var(--blog-font);
  opacity: 0.5;
  margin-top: 14px;
  margin-left: 14px;
}
h1 {
  font-size: 2.81rem;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 2.14em;
  font-weight: 500;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}


nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}

nav a:hover {
  opacity: 0.7;
}

/* || layout -links  */

header {
  width: 100%;
  height: auto;
  background-image: linear-gradient(90deg,
    var(--primary-blue),
    var(--primary-teal));
  color: var(--light-color);
}

/*this keeps the nav meat compact for large sceens*/
nav {
  max-width: 1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

nav #logo {
  margin: 15px 0 15px 15px;
  font-size: 1.24em;
  font-weight: 300;
  letter-spacing: 0.5px;
  grid-row: 1;
  grid-column: 1;
}

.right-menu {
  margin-right: 15px;
  grid-column: 3;
  align-self: center;
}
main {
  margin: 0px auto;
  width: 95%;
  min-width: 310px;
  max-width: 1200px;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
  background-image: linear-gradient(90deg,
    var(--primary-blue),
    var(--primary-teal));
  color: var(--light-color);
}

.footer-main {
  margin: 0px auto;
  width: 95%;
  min-width: 310px;
  max-width: 1200px;
}

#footer-end {
  font-size: 1.25em;
  margin-top: 4em;
  text-align: center;
}

/*a link order: link, visited, hover, active*/
#footer-end, #footer-end a:link, #footer-end a:visited {
  color: var(--bg-light-blue); 
}

#footer-end p {
  font-size: .75em;
  padding-top: 3em;
  padding-bottom: 1em;
}

#footer-end .fab {
  padding: 1em 0.5em;
}
#footer-end a:hover {
  color: var(--secondary-purple);
}

/* || smaller screens */
/*OG: 854px*/
@media only screen and (max-width: 740px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.20em;
  }

  h2 {
    font-size: 2em;
  }
  

